<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-image: url(../assets/home.jpg);   object-fit: cover;
    background-size: cover; height: 100%;">
    <ion-card style="   
   
    background-color: #8c221b9c;padding: 10px;margin-top: 20px;">


   
<h2 style="color:white;">Share : {{share}} </h2>
<h2 style="color:white;">Not Share: {{notshare}} </h2>
<h4 style="text-align: center;color:white;">Thank you</h4>
 
  <ion-button  (click)="Exit()" expand="full">Exit App </ion-button >
</ion-card>
</div>
</ion-content>
