ion-menu {
    // --ion-background-color: linear-gradient(160deg, #B627F2 40%, #10DFC8 60%);
    --ion-background-color:#92252ac2;
    ion-item{
       
        color:white;
        --border-color:white;
    }
}


.alert-checkbox-label.sc-ion-alert-md {
 
    white-space: inherit !important;
    
}