<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Thank you</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-image: url(../assets/back.jpg);   object-fit: cover;
  background-size: cover; height: 100%;">
  <ion-card style="   

  background-color: #8c221b9c;margin-top: 0px;"> 
     
    
      <ion-card-content>
          <p style="color: white;
          font-size: 19px;
          margin-top: 6px;"> The fact that you are reading this message indicates that you have completed our survey, and that we owe you a debt of thanks.We are very appreciative of the time you have taken to assist in our analysis, and commit to utilizing the information gained to contemplate and implement worthwhile improvements. We are extremely grateful for your contributing your valuable time, your honest information, and your thoughtful feedback.</p>
          <!-- <ion-button  size="small" (click)="exit()">Exit</ion-button>
          <ion-button  size="small" (click)="next()">Next</ion-button> -->
         
      </ion-card-content>
    </ion-card>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="exit()">
    Exit
  </ion-fab-button>
</ion-fab>

</ion-content>
