<ion-header>
  <ion-toolbar color="primary" style="text-align: center;" >
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-image: url(../assets/back.jpg);   object-fit: cover;
    background-size: cover; height: 100%;">
    <ion-card style="   
   
    background-color: #8c221b9c;padding: 10px;margin-top: 0px;">


   
<p style="color:white;">Share On Social Media :{{share}}</p>
<p style="color:white;">Not Share: {{notshare}}</p>
<ion-button  (click)="nextfase()" expand="full">Go to next phase</ion-button >
</ion-card>
</div>
</ion-content>
